IRC = {
    'SERVER': 'irc.twitch.tv',
    'NICK': 'USERNAME',
    'PASSWORD': 'PASSWORD',
    'PORT': 6667,
}

# Do not change if using docker!
# If you're using a local database the host is 'localhost'
DATABASE = {
    'NAME': 'twitch',
    'USER': 'USER',
    'PASSWORD': 'PASSWORD',
    'HOST': 'host',
}

API = {
	'CLIENTID': YOUR_CLIENT_ID
}